@use "../../sass/abstract/" as *;

.main-cardslider {
    position: relative;
}
.inside-cardslider {
    width: 100% !important;
    // margin: 1.5% auto;
    height: 100% !important;
    // padding: 4% 0px;
}

.boxs {
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.cardss {
    width: 100% !important;
    // margin: 0px 20px !important;
    height: 200px !important;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
    .credit-card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        @include lgBreakPoint {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// .slick-slider {
//     margin: 20px 15px;
// }
.slick-dots {
    bottom: -50px !important;
}

// .slick-slide {
//     padding: 0 15px;
// }

.dot-section-btns {
    display: flex;
    gap: 100px !important;
    padding-top: 10% !important;
}
.border-insides {
    width: 20px !important;
    height: 20px !important;
    color: white;
    border-radius: 50%;
    padding-top: 5% !important;
}
