@use "../../sass/abstract/" as *;

.main-home-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    .inside-home-section {
        width: 100%;
        height: 100%;
        // background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/tWLrOY2wyZGrHM8Gwkh-lA/o.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: cover;
        position: relative;
    }
    .list-names-position {
        position: absolute;
        top: 32%;
        left: 25%;
        width: 32%;
    }
    .list-names-positions {
        font-size: 3.2rem;
        color: white;
        font-weight: 800;
        width: 100%;
    }
    .banner-home-section {
        position: absolute;
        top: 0;
        z-index: 98989889 !important;
        width: 100%;
    }
    .buttons {
        width: auto;
        padding: 10px 30px;
        border-radius: 8px;
        background-color: #e00707;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .slider-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        opacity: 0.9;
    }
}

.slick-dots li button {
    text-indent: -9999px;
    overflow: hidden;
}

.kalai {
    position: absolute;
    top: 35%;
    left: 20%;
}

.empty-box {
    width: 10px;
    border: 2px solid #8bb5c5;
    height: 50px;
    border-radius: 10px;
}
