@use "../abstract" as *;

.login-btn {
  width: auto;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #e00707;
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
}

.signup-btn {
  width: auto;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #e00707;
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
  outline: none;
  border: none;
}

.link {
  color: #6dbad4;
  cursor: pointer;
  font-weight: 600;
}
