@use "sass" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-routing-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.cursor {
    cursor: pointer;
}
